* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #020f05;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b7ffcb;
}

/* Canvas — фон */
#bgCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Контент */
.container {
    text-align: center;
}

.error-title {
    font-size: 140px;
    color: #00ff7f;
    text-shadow: 0 0 30px #00ff7f;
    margin-bottom: 10px;
}

.error-text {
    font-size: 20px;
    color: #aaffc7;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #00ff7f;
    color: #000;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
    box-shadow: 0 0 15px #00ff7f;
}

.btn:hover {
    background: #0aff9b;
    box-shadow: 0 0 25px #00ff7f;
}
